/* Your app styles here */

.navbar{
 background-color: rgb(0, 119, 255);
    color: white;
    overflow: visible;
}
.page-content{
background-color: rgb(215, 237, 255);
}
.fab>a, .fab-label-button{
    
}
#spendingContainer{
    background-color:rgb(0, 119, 255);
    height: 20px;
    width:50px;
    border-radius: 50px;
    padding: 15px;
    font-size: 18px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    display:flex;
    position: fixed;
    right: 10px;
    top: 5px;
    z-index: 5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.199);
}
#dollar{

    height: 28px;
    width: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    left: 7px;
    top: 10px;
    padding-top:2px;
    padding-left: 3px;
}
#spending{

    height: 30px;
    width: 55px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: center;

}
#addItemBar{
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.toolbar-inner{
    display:flex;
    flex-direction: column;
}
.toolbar-inner>button{
    position:fixed;
    top:0;
}
#inputTab{
    position:fixed;
    top:50px;
    width: 95vw;
}
#buttonWrapper{
    width:95vw;
    display:flex;
    flex-direction:row;
}
#cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoCard{
    width: 70vw;
    display:flex;
    flex-direction: column;
    background-color: rgb(19, 73, 173);
    align-content: center;
    text-align:center;
    position:absolute;
    top: 100px;
    left: 10%;
    padding: 5vw;
    color:white;
    border-radius: 5px;
}
.card{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 80vw;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.575);
    z-index: 2;
}
.firstRow{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.secondRow{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.thirdRow{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.true::before{
    content: '';
    height: 20px;
    width: 25px;
    background-color: rgb(255, 255, 1);
    position:absolute;
    z-index: -1;
    display:block;
    top: 0px;
}
.true::after{
    content: '';
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: rgb(0, 140, 255);
    position:absolute;
    z-index: -1;
    display:block;
    top: 10px;
}
.indexDisplay{
    background-color:rgb(0, 140, 255);
    border-radius: 50px;
    height: 23px;
    width: 25px;
    text-align: center;
    color:white;
    padding-top: 2px;
    font-weight: 800;
    z-index: 1;
}
.true1{
    background-color:rgb(251, 255, 0);
}

#submitWrapper{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.upButton {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: white;
    color: rgb(0, 140, 255);
    border: 2px solid rgb(0, 140, 255);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px rgba(105, 105, 105, 0.637);
    font-size: 16px;
    display: absolute;
    right: 5px;
    height: 40px;
}

.upButton:hover {
    color: white;
    background-color: rgb(0, 140, 255);
    box-shadow: none;
}
.downButton {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: white;
    color: rgb(0, 140, 255);
    border: 2px solid rgb(0, 140, 255);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px rgba(105, 105, 105, 0.637);
    font-size: 16px;
    display: absolute;
    right: 5px;
    height: 40px;
}

.downButton:hover {
    color: white;
    background-color: rgb(0, 140, 255);
    box-shadow: none;
}
.menu-item-dropdown{
    display: fixed;
    background-color:transparent;
    position:absolute;
    left: 5px;
}
.menu-dropdown-content{
    z-index: 10;
}
#AppIcon{
    height: 45px;
    margin-left: 15px;
}
.del{
    background-color: rgb(14, 26, 202) !important;
}